<!DOCTYPE html>
<html>
    <head>
        <title>Web application example</title>
        <link rel="stylesheet" href="static/css/main.css">
    </head>

    <body>
        <div>
            <p class="greenText">{{ message }}</p>
            <p class="redText">Result: {{result}}</p>
            <p>My Contacts:</p>
            <ul>
                {% for contact in contacts %}
                <li>{{ contact }}</li>
                {% endfor %}
            </ul>

            <button onclick="onClick()">Click Here...</button>
        </div>

        <script src="static/js/main.js"></script>
    </body>
</html>